@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

#content {
    font-family: 'Work Sans', sans-serif;
    width: 93%;
    margin: 30px 3.5%;    
}

#content a, #content span {
    color: var(--color-gray);
}

#top, #table-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top {
    margin-bottom: 15px;
}

#table-top {
    margin-bottom: 10px;
}

#content h1 {
    margin-bottom: -10px;
    font-size: 500;
    font-size: 24px;
}

#content p {
    font-weight: 500;
    font-size: 16px;
}

#content button {
    background-color: var(--color-green);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    font-size: 16px;
}

.table-top-right {
    display: flex;
    gap: 10px;
}

.search, .filterBy {
    border: 1px solid var(--color-gray);
    padding: 8px;
    border-radius: 5px;
}

.filterBy input {
    font-size: 14px;
    color: var(--color-black);
    font-weight: 500;
} 

.search input, .filterBy input {
    outline: 0;
    border: none;
    font-family: 'Work Sans', sans-serif;
    margin-right: 20px;
    color: var(--color-gray);
    background: none;
}

.search a, .filterBy a {
    color: var(--color-gray);
    cursor: pointer;
}

.search:hover, .filterBy:hover {
    border-color: var(--color-green);
}

.search a:hover, .filterBy a:hover {
    color: var(--color-green);
}

.categories, .category {
    display: flex;
    align-items: center;
}

.categories {
    gap: 5px;
}

.category {
    padding: 10px;
    gap: 5px;
}

.category div {
    padding: 0 10px;
    color: var(--color-white);
    border-radius: 20px;
    background-color: var(--color-green);
}

.type-1 {
    background-color: var(--color-green-variant);
    color: var(--color-green);
    font-weight: 500;
}

.type-1 div {
    background-color: var(--color-green);
}

.type-2 div {
    background-color: var(--color-orange);
}

table {
    border-collapse: collapse;
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
}

tr {
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
}

th {
    padding: 25px 10px;
    font-size: smaller;
}

td, th {
    padding: 10px;
    height: 30px;
}

.null-row {
    width: 200px;
}

.sent-through {
    color: #00291B;
}

#date-with-time span {
    font-weight: 300;
}

.table-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
    border: 1px solid var(--color-gray);
    font-size: 14px;
    font-weight: 500;
    color: #3C5B51;
}

.table-footer div {
    display: flex;
    align-items: center;
    gap: 10px;
}